<!DOCTYPE html>
<html ng-app="panasonicApp">

<head>
    <link rel="stylesheet" href="../../assets/css/dashboard.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
    <script src="../../app/app.module.js"></script>
    <script src="../../app/app.config.js"></script>
    <script src="../../app/services/userService.js"></script>
    <script src="../../app/services/authService.js"></script>
    <script src="../../app/controllers/dashboardController.js"></script>
    <script src="../../app/controllers/changeOrgController.js"></script>
    <script src="../../app/controllers/editToolbarController.js"></script>
</head>

<body ng-controller="DashboardController">
   
    <div class="header">
        <div class="user-info">
            <div class="user-info-left">
                <b class="nlsxuat">NLSXUAT</b>
            </div>
            <div class="user-info-middle">
                <span>User: {{ username }}</span> <!-- Displays the username -->
                <span>Org: {{ orgName }}</span> <!-- Displays the organization name -->
                <span>Group: {{ group }}</span>
                <span>DC: {{ dc }}</span>
            </div>
            <div class="user-info-right">
                <span>{{ currentDate | date:'fullDate' }}</span>
                <button class="logout-button" ng-click="chgOrg()">Change Organization</button>&nbsp;&nbsp;
                <button class="logout-button" ng-click="logout()">Logout</button>
                <img src="../../assets/images/4SVisiLogTM.gif" alt="4SVisiLogTM">
            </div>
        </div>
        <div class="toolbar">
            <ul class="menu">
                <li ng-repeat="menu in menus" class="dropdown"
                    ng-mouseenter="menu.showDropdown = true"
                    ng-mouseleave="menu.showDropdown = false">
                    
                    <span class="menu-item" ng-click="navigate(menu.link)">
                        {{ menu.name }} <span ng-if="menu.submenu" class="arrow">&#9662;</span>
                    </span>
        
                    <!-- First Level Dropdown -->
                    <ul class="dropdown-menu" ng-show="menu.showDropdown">
                        <li ng-repeat="sub in menu.submenu" class="dropdown"
                            ng-mouseenter="sub.showDropdown = true"
                            ng-mouseleave="sub.showDropdown = false">
                            
                            <span class="submenu-item" ng-click="navigate(sub.link)">
                                {{ sub.name }} <span ng-if="sub.children" class="arrow">&#9656;</span>
                            </span>
        
                            <!-- Second Level Dropdown -->
                            <ul class="dropdown-menu sub-menu" ng-show="sub.showDropdown">
                                <li ng-repeat="child in sub.children">
                                    <span class="submenu-item" ng-click="navigate(child.link)">
                                        {{ child.name }}
                                    </span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        
        
        
    </div>
    <div class="content-wrapper">
        <div ng-if="currentView" ng-include="currentView"></div>
    </div>

    <div class="footer" ng-style="{'background-color': footerColor}">
        <div class="footer-left">
            <img ng-if="footerIcon" src="./../../assets/images/footer-icon.png" class="footer-icon" ng-click="showFooterAlert()" />
            <span class="footer-text">{{ footerMessage }}</span>
        </div>
        <p class="footer-copyright">&copy; Copyright © 2004, Four Soft Singapore.All rights reserved.</p>
    </div>   

</body>

</html>