<head>
    <link rel="stylesheet" type="text/css" href="../../assets/css/editToolbar.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
    <script src="../../app/controllers/changeOrgController.js"></script>
    <script src="../../app/controllers/dashboardController.js"></script>
    <script src="../../app/controllers/editToolbarController.js"></script>
</head>


<div ng-controller="EditToolbarController">
    <div  class="editToolbar">
        <img src="../../assets/images/home.gif" ng-click="goHome()" title="Home">
        <img src="../../assets/images/AddRecord.gif" ng-click="addRecord()" title="Add">
        <img src="../../assets/images/update.gif" ng-click="saveRecord()" title="Save">
        <img src="../../assets/images/delete.gif" ng-click="deleteRecord()" title="Delete">
        <img src="../../assets/images/qry.jpg" ng-click="openQuery()" title="Query">
    </div >
</div>